.topbar-container {
    width: 100%;
    position: fixed;
    backdrop-filter: blur(0.25rem);
    z-index: 100;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.5s ease-in-out;
}

.topbar-container.opacity {
    background: rgba(0, 0, 0, 0.10);
}

.topbar-content { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height: 6rem;
    gap: 1rem;
}

.topbar-content .topbar-items {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.topbar-content .topbar-logo {
    width: 8rem;
    height: 4rem;
}

.topbar-content .topbar-logo img {
    width: 100%;
    height: auto;
}

.topbar-content .topbar-items ul {
    display: flex;
    gap: 4rem;
}

.topbar-content .topbar-items ul li a {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.menu-hamburguesa {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) { 
    .topbar-content .topbar-items ul {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .topbar-content .topbar-items ul {
        display: none;
    }

    .topbar-content { 
        padding: 0 2rem;
    }

    .menu-hamburguesa {
        width: 2rem;
        height: 2rem;
        display: block;
    }

    .menu-hamburguesa img {
        width: 2rem;
        height: auto;
        filter: invert();
    }

    .topbar-content .topbar-logo {
        width: 6rem;
        height: 3rem;
    }
    
    .topbar-content .topbar-logo img {
        width: 100%;
        height: auto;
    }
}